@function gtkalpha($c,$a) {
  @return unquote("alpha(#{$c},#{$a})");
}

// Optional compact sizes for buttons, headerbar and headerbar widgets
$_sizevariant: 'compact'; //either 'default', or compact otherwise
$_headerbar_height: if($_sizevariant=='default', 46px, 40px);
$_entry_height: if($_sizevariant=='default', 32px, 28px);
$_btn_pad: if($_sizevariant=='default', 4px 9px, 2px 6px);
$_hb_btn_pad: if($_sizevariant=='default', 6px, 5px);
$_img_btn_pad: if($_sizevariant=='default', 5px, 2px);
$_sel_menu_pad: if($_sizevariant=='default', 6px 10px, 4px 10px);
$_circ_btn_pad: if($_sizevariant=='default', 4px, 2px);
$_switch_margin: if($_sizevariant=='default', 10px, 7px);

$entry_radius: 0px;
$border_width: 1px;

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$asset_suffix: if($variant=='dark', '-dark', '');
$backdrop_transition: 200ms ease-out;

$button_transition: none;// all 200ms $ease-out-quad;
$button_radius: 5px;

//added by me:
    $button_min_height: 24px;
    $button_min_width: 16px;
    $button_padding: $_btn_pad;
    $button_border: 1px solid;

$menu_radius: 5px;


%selected_items {
  background-color: $selected_bg_color;

  @at-root %nobg_selected_items, & {
    color: $selected_fg_color;

    @at-root %selected_items_disabled,
    &:disabled { color: mix($selected_fg_color, $selected_bg_color, 50%); }

    @at-root %selected_items_backdrop,
    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;

      &:disabled { color: mix($backdrop_selected_fg_color, $selected_bg_color, 30%); }
    }
  }
}


// Other desktops fixes

// XFCE


XfdesktopIconView.view {
    text-shadow: 0 0 2px $base_color, 0 0 2px $base_color, 0 0 2px $base_color;
    color: $text_color;
    background-color: transparent;
    
    .rubberband {
        background-color: gtkalpha($selected_bg_color, 0.5);
    }
}

XfdesktopIconView.view:active {
    text-shadow: none;
    color: $selected_fg_color;
    background-color: gtkalpha($selected_bg_color, 0.5);
}

